/*styling headader*/
.container-archive__title-archive{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subtitle-style__arch{
    align-self: center;
    font-size:var(--introMob-work-size) ;
    font-family:'ClashGrotesk-Light';
    line-height: 1.2;
    margin-top: -20px;
    margin-bottom: 40px;
}
/*container grid*/
    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: -1;
        column-gap: 2rem;
        row-gap: 2rem;
    }
        .container-grid__cont-photo__btn{
            background: none;
            border: none;
            cursor: pointer;
        }
        .container-grid__cont-photo__img{
            width: 100%;
            height: 100%;
            border-radius: 14px;
        }

/*RESPONSIVE DESKTOP*/
@media (min-width:950px){
    .container-grid{
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
    }
        .container-grid__cont-photo{
            display:grid;
        }
        .container-grid__cont-photo__img:hover{
            border-radius: 0;
        } 
        .subtitle-style__arch{
            align-self: flex-start;
            font-size: var(--desplegable-titles-size);
            margin-left: 300px;
            margin-top: -60px;
        }
}

.img-modal{
    width: 80rem;
    height: 80rem;
}