.section-phrase__container{
    font-size: var(--homeMob-intro-size);
}
.section-phrase__container__cta{
    background-color: var(--bg-cta-home);
    border-radius: 43px;
    font-size: var(--homeMob-subtitles-size);
    border: none;
    cursor: pointer;
    padding: 12px 15px 12px 15px;
}
.section-phrase__container__cta:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}